* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 16px; /*1rem = 16px*/
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.3rem;
    color: #fffffe;
}

h2 {
    font-size: 1.2rem;
    color: #fffffe;
    margin-top: 5px;
}

p, a, label {
    font-size: 1.2rem;
    color: #94a1b2;
}

body {
    background: #242629;
}

header {
    background: #16161a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 8px;
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, #16161a, #7f5af0, #16161a) 1;
}

#foto {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    border: 8px solid #7f5af0;
}

nav {
    display: flex;
    gap: 5px;
    margin-top: 40px;
}

a {
    padding: 8px 4px;
    border-radius: 8px 8px 0 0;
    text-decoration: none;
    transition: 0.15s;
}

a:hover {
    color: #fffffe;
}

main {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    background: #16161a;
    margin: 20px;
    padding: 40px;
    border-radius: 8px;
    max-width: 1280px;
}

section p, section h1 {
    margin: 9px 0;
}

#sobre-mi video {
    width: 60%;
    margin-top:10px;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    gap: 5px;
}

input, textarea {
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    background: #16161a;
    border-radius: 6px;
    color: #fffffe;
    font-size: 1.1rem;
    border: 1px solid #7f5af0;
}

textarea {
    height:200px;
    resize: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#boton-enviar {
    padding: 8px 0;
    transition: 0.15s;
}

#boton-enviar:hover {
    background: #7f5af0;
    color: #fffffe;
}

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #16161a;
    padding: 40px;
    border-top: 5px solid;
    border-image: linear-gradient(to left, #16161a, #7f5af0, #16161a) 1;
}

#contactame iframe {
    margin-top: 10px;
    width:100%;
}

#redes-sociales {
    display: flex;
    gap: 10px;
}

i {
    color: #fffffe;
    font-size: 25px;
    transition: 0.15s;
}

i:hover {
    color: #7f5af0;
}

/* ---------------- @medias ------------- */
@media (max-width:630px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}